# Python virtual environment
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db